<section id="faq">
    <div class="container">
        <div class="section-head">
            <div>
                <h2>Frequently Asked Questions</h2>
                <p class="lead">The essentials, in plain language.</p>
            </div>
        </div>

        <details>
            <summary>Why the name Gosub when it's written in Rust instead of Go?</summary>
            <p>
                Contrary to what the name might suggest, Gosub is not written in Go. It is written in Rust. The name Gosub is a reference to both the BASIC programming language, where the "GOSUB" command was used to call a subroutine, and a reference to the "Go word" from the old compuserve days.
                We think it's a name that is not in the vincinity of any other project and it's a name that is easy to remember. It also suggests a more sub-nautical theme so this is why the logo is a submarine.
            </p>
        </details>

        <details>
            <summary>Are you backed by any commercial entities?</summary>
            <p>
                No. Gosub is a community project and is not backed by any commercial entities. We are a group of volunteers who are passionate about writing a new browser engine. We do however accept sponsorships (on github for instance) to cover for some of the costs of running the project.
            </p>
        </details>

        <details>
            <summary>How do this project make money?</summary>
            <p>
                We don't. However, we are not opposed to the idea of making money. In fact, the only way for a project like this to exist is to have some way of steady income. We however are against some of the ways to make revenue. For instance, selling user data or showing ads is not something we are interested in. We are however interested in sponsorships, donations and other ways to make money that are not intrusive to the user.
                One of the important goals is for us to be able to provide a browser and engine that can be used by everyone, regardless of their financial situation.
            </p>
        </details>

        <details>
            <summary>What is the license of the project?</summary>
            <p>
                The project is licensed under the MIT license. This means that you can use the code for any purpose, including commercial purposes, as long as you include the original copyright and license notice.
            </p>
        </details>

        <details>
            <summary>Why not you just contribute to Servo?</summary>
            <p>
                Servo is a great project and we have a lot of respect for the people working on it. However, we believe that there is room for more than one browser engine written in Rust. We do not see ourselves as competitors to Servo, but rather as a complementary project. We are working on different goals and have a different approach to building a browser engine.
                We believe that diversity is important in the open source community and that having multiple projects working on similar problems can lead to better solutions.
            </p>
        </details>

        <details>
            <summary>How can I contribute to the project?</summary>
            <p>
                There are many ways to contribute to the project. You can contribute by writing code, writing documentation, testing the browser, reporting bugs, suggesting features, helping with the website, helping with the community, etc.
                You can find more information on how to contribute on our contribute section below.
            </p>
        </details>
    </div>
</section>
